/*============================================

                    23 -- 404
  
=============================================*/
.bg-404 {
  background-image: url("../img/bg/404.jpg");
}
.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 72px;
    line-height: 100px;
    color: $gray-600;

    @media #{$lg-layout} {
      font-size: 50px;
      line-height: 80px;

    }

    @media #{$xs-layout} {
      font-size: 50px;
      line-height: 80px;

    }

    @media #{$layout-479} {
      font-size: 35px;
      line-height: 60px;

    }
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: $gray-500;
    font-weight: 600;
    letter-spacing: 4px;

    @media #{$layout-479}  {
        text-align: center;
      
    }
    a {
      letter-spacing: 1px;
      font-weight: 500;
      color: $gray-600;
      text-transform: uppercase;
      border-bottom: 1px solid $gray-600;

      &:hover {
        color: $theme-color-1;
      }
    }
  }
}
