
/*============================================

                02 -- Common
  
=============================================*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 30px;
    font-size: 14px;
    font-style: normal; 
    font-weight: 400;
    color: $gray-500;
    font-family: $montserrat;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: $gray-500;
    margin-bottom: 15px;
    font-family: $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: $rubik;
    color: $gray-600;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.23;
}

h1 {
    font-size: 50px;

    @media #{$lg-layout} {
        font-size: 40px;
    }

    @media #{$lg-layout} {
        font-size: 45px;
    }

    @media #{$xs-layout} {
        font-size: 30px;
    }
}

h2 {
    font-size: 44px;

    @media #{$lg-layout} {
        font-size: 32px;
    }

    @media #{$lg-layout} {
        font-size: 32px;
    }

    @media #{$xs-layout} {
        font-size: 26px;
    }
}

h3 {
    font-size: 36px;

    @media #{$lg-layout} {
        font-size: 28px;
    }

    @media #{$lg-layout} {
        font-size: 24px;
    }

    @media #{$xs-layout} {
        font-size: 20px;
    }
}

h4 {
    font-size: 30px;

    @media #{$lg-layout} {
        font-size: 27px;
    }

    @media #{$lg-layout} {
        font-size: 24px;
    }

    @media #{$xs-layout} {
        font-size: 20px;
    }
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p:last-child {
    margin-bottom: 0;
}

a,
button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    color: $gray-500;
}


a,
button,
img,
input,
span {
    transition: all .3s ease 0s;
}

*:focus {
    outline: none !important;
}

a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: $theme-color-1;
}

button,
input[type="submit"] {
    cursor: pointer;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}


/*-- 
    - Input Placeholder
-----------------------------------------*/

input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input {
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 45px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 14px;
    color: #737373;
    width: 100%;
}

select {
    width: 100%;
    background: transparent;
    border: 0px solid #eceff8;
    box-shadow: none;
    font-size: 14px;
    color: #737373;
}

option {
    background: #fff;
    border: 0px solid #626262;
    padding-left: 10px;
    font-size: 14px;
}

input:focus {
    background: transparent;
}

textarea {
    resize: vertical;
    background: #eceff8;
    border: 2px solid #eceff8;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: #737373;
}

textarea:focus {
    background: transparent;
    border: 2px solid #4FC1F0;
    outline: none;
}



/*-- 
    Scroll Up 
-----------------------------------------*/

#scrollUp {
    width: 50px;
    height: 50px;
    background-color: #262626;
    color: #fff;
    right: 50px;
    bottom: 53px;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
    z-index: 9811 !important;
    @media #{$xs-layout} {
        width: 40px;
        height: 40px;
        right: 20px;
    }
    & i {
        display: block;
        line-height: 50px;
        font-size: 20px;
        @media #{$xs-layout} {
            line-height: 40px;
            font-size: 16px;
        }
    }
    &:hover{
        background-color: $theme-color-1; 
      box-shadow: 0 20px 30px 0 rgba(37, 95, 204, 0.2); 
    }
}

.height-100vh {
    height: 100vh;
}
.transparent-bar {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
}



.fade {
    transition: opacity 0.15s linear;

    &:not(.show) {
        opacity: 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}