/*============================================

                03 -- Components
  
=============================================*/
/*-- Button --*/
.btn.theme-btn {
  background-color: none;
  padding: 0px 55px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid $gray-600;
  color: $gray-600;
  font-weight: 500;
  transition-duration: 400ms;
  height: 60px;
  line-height: 60px;

  @media #{$sm-layout} {
    padding: 0px 50px;
    height: 55px;
    line-height: 55px;
  }

  @media #{$layout-575} {
    padding: 0px 45px;
    height: 50px;
    line-height: 50px;
  }

  @media #{$layout-479} {
    padding: 0px 45px;
    height: 50px;
    line-height: 50px;
  }

  i {
    font-size: 24px;
    position: relative;
    top: 3px;
    line-height: 39px;

    @media #{$layout-575} {
      font-size: 20px;
    }

  }

  &:hover {
    background-color: $theme-color-1;
    border: 1px solid $theme-color-1;
    box-shadow: 0 20px 30px 0 rgba(37, 95, 204, 0.2);
    color: $white;
  }
}

.btn.theme-btn-1 {
  background-color: $gray-700;
  padding: 0px 55px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid $gray-700;
  color: $white;
  font-weight: 500;
  transition-duration: 400ms;
  height: 60px;
  line-height: 60px;
  @media #{$sm-layout} {
    padding: 0px 50px;
    height: 55px;
    line-height: 55px;
  }

  @media #{$layout-575} {
    padding: 0px 45px;
    height: 50px;
    line-height: 50px;
  }

  @media #{$layout-479} {
    padding: 0px 45px;
    height: 50px;
    line-height: 50px;
  }

  i {
    font-size: 24px;
    position: relative;
    top: 3px;
    line-height: 39px;

    @media #{$layout-575} {
      font-size: 20px;
    }

  }

  &:hover {
    background-color: $theme-color-1;
    border: 1px solid $theme-color-1;
    box-shadow: 0 20px 30px 0 rgba(37, 95, 204, 0.2);
    color: $white;
  }
}

.btn.theme-btn-2 {
  background-color: $theme-color-1;
  padding: 0px 55px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid $theme-color-1;
  color: $white;
  font-weight: 500;
  transition-duration: 400ms;
  height: 60px;
  line-height: 60px;
  @media #{$sm-layout} {
    padding: 0px 50px;
    height: 55px;
    line-height: 55px;
  }

  @media #{$layout-575} {
    padding: 0px 45px;
    height: 50px;
    line-height: 50px;
  }

  @media #{$layout-479} {
    padding: 0px 45px;
    height: 50px;
    line-height: 50px;
  }

  i {
    font-size: 24px;
    position: relative;
    top: 3px;
    line-height: 39px;

    @media #{$layout-575} {
      font-size: 20px;
    }

  }

  &:hover {
    background-color: $gray-700;
    border: 1px solid $gray-700;
    box-shadow: 0 20px 30px 0 rgba(35, 43, 58, 0.2);
    color: $white;
  }
}

.btn.theme-btn-3 {
  background-color: none;
  padding: 0px 45px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid $gray-700;
  color: $gray-700;
  font-weight: 500;
  transition-duration: 400ms;
  height: 50px;
  line-height: 50px;

  i {
    font-size: 24px;
    position: relative;
    top: 3px;
    line-height: 39px;
  }

  &:hover {
    background-color: $gray-700;
    border: 1px solid $gray-700;
    box-shadow: 0 20px 30px 0 rgba(35, 43, 58, 0.2);
    color: $white;
  }
}

.btn.buy-now {
  background-color: $gray-700;
  padding: 0px 55px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid $gray-700;
  color: $white;
  font-weight: 500;
  transition-duration: 400ms;
  height: 50px;
  line-height: 50px;

  i {
    font-size: 24px;
    position: relative;
    top: 3px;
    line-height: 39px;
  }

  &:hover {
    background-color: $theme-color-1;
    border: 1px solid $theme-color-1;
    box-shadow: 0 20px 30px 0 rgba(37, 95, 204, 0.2);
    color: $white;
  }
}

.btn-whislist {
  i {
    line-height: 50px;
    font-size: 18px;
    color: $gray-400;

    &:hover {
      color: $theme-color-1;
    }
  }
}

.txt-btn {
  i {
    line-height: 50px;
    font-size: 18px;
    color: $gray-400;

    &:hover {
      color: $theme-color-1;
    }
  }
}

/*-- Breadcrumb --*/
.breadcrumb {
  margin-bottom: 0;

  &.breadcrumb_bg {
    height: 400px;
    border-radius: 0;

    @media#{$md-layout} {
      height: 200px;
    }

    @media#{$xs-layout} {
      height: 200px;
    }

    @media#{$sm-layout} {
      height: 200px;
    }

    @media#{$layout-575} {
      height: 150px;
    }

    @media#{$layout-479} {
      height: 150px;
    }
  }

  .breadcrumb_iner {
    .breadcrumb_iner_item h2 {
      font-weight: 600;
      font-size: 40px;
      color: $gray-700;
      margin-bottom: 15px;

      @media#{$md-layout} {
        font-size: 40px;
      }

      @media#{$xs-layout} {
        font-size: 35px;
      }

      @media#{$sm-layout} {
        font-size: 30px;
      }

      @media#{$layout-575} {
        font-size: 25px;
      }

      @media#{$layout-479} {
        font-size: 25px;
      }
    }

    .custom-breadcrumb {
      ol li {
        a {
          color: $gray-700;
          font-size: 16px;
          font-weight: 400;

          @media#{$sm-layout} {
            font-size: 14px;
          }

          @media#{$layout-575} {
            font-size: 14px;
          }

          @media#{$layout-479} {
            font-size: 12px;
          }
        }

        &.breadcrumb-item.active {
          font-size: 16px;
          color: $theme-color-1;

          @media#{$sm-layout} {
            font-size: 14px;
          }

          @media#{$layout-575} {
            font-size: 14px;
          }

          @media#{$layout-479} {
            font-size: 12px;
          }

        }
      }

      .breadcrumb-item+.breadcrumb-item::before {
        font-family: LineIcons;
        content: "\ea5c";
        font-size: 14px;
        color: $gray-700;
        opacity: 0.9;
        position: relative;
        top: 2px;

        @media#{$sm-layout} {
          font-size: 14px;
        }

        @media#{$layout-575} {
          font-size: 14px;
        }

        @media#{$layout-479} {
          font-size: 12px;
        }
      }
    }

    .list-inline-item {
      display: inline-block !important;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

}

/*-- Product Tab --*/
.product-menu {
  padding: 20px 0 0;

  .nav {
    li {
      margin: 0 12px;

      @media #{$xs-layout} {
        margin: 0 6px;

      }

      @media #{$sm-layout} {
        margin: 0 12px;

      }

      a {
        font-size: 12px;
        padding: 0 10px;
        line-height: 24px;
        color: $gray-600;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.3s linear;

        &.active,
        &:hover {
          color: $theme-color-1;
        }
      }
    }
  }
}

/*-- Pagination --*/
.pro-pagination-style {
  ul {
    li {
      display: inline-block;
      margin: 0 8px;

      @media #{$xs-layout} {
        margin: 0 4px;
      }

      a {
        border: 1px solid $gray-200;
        color: $gray-600;
        font-size: 12px;
        text-align: center;
        display: inline-block;
        width: 38px;
        height: 38px;
        line-height: 38px;
        border-radius: 100%;

        &.active,
        &:hover {
          background-color: $theme-color-1;
          color: #fff;
          border: 1px solid $theme-color-1;
          box-shadow: 0 20px 30px 0 rgba(37, 95, 204, 0.2);
        }

        i {
          line-height: 38px;
        }
      }

      &:last-child {
        position: relative;
        top: 2px;
      }
    }
  }

  @media #{$xs-layout} {
    &.mt-30 {
      margin-top: 0;
    }
  }
}

/*-- Section Title --*/
.section_title {
  text-align: center;
  margin-bottom: 30px;

  @media #{$md-layout} {
    margin-bottom: 25px;

  }

  @media #{$xs-layout} {
    .section_title {
      margin-bottom: 25px;
    }
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    text-transform: capitalize;
    position: relative;
    font-family: $montserrat;
    padding-bottom: 22px;


    @media #{$md-layout} {
      font-size: 33px;
      line-height: 37px;
      padding-bottom: 17px;

    }

    @media #{$xs-layout} {
      font-size: 19px;
      line-height: 20px;
      padding-bottom: 13px;

    }

    &::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 2px;
      background: $theme-color-1;
      bottom: 0;
      left: 50%;
      transform: translatex(-50%);
    }
  }
}

/*-- Bg img --*/
.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*-- Text Color --*/

.txt-blue {
  color: $theme-color-1;
}

.txt-yellow {
  color: #f5b223;
}

/*-- Background Color --*/

.bg-c-blue {
  background: $theme-color-1;
}

.bg-c-red {
  background: rgb(255, 78, 78);
}

.bg-c-green {
  background: rgb(51, 214, 73);
}

.bg-gray-100 {
  background: $gray-100;
}

.bg-gray-200 {
  background: $gray-200;
}

.bg-gray-300 {
  background: $gray-300;
}

.bg-gray-400 {
  background: $gray-400;
}

.bg-gray-500 {
  background: $gray-400;
}

.bg-gray-600 {
  background: $gray-600;
}

.bg-gray-700 {
  background: $gray-700;
}

/* Other Background color --*/

.bg-color-1 {
  background: #ff9751;
}

.bg-color-2 {
  background: #35e6d7;
}

.bg-color-3 {
  background: #ff5161;
}

.bg-color-4 {
  background: #cfeaff;
}

.bg-color-5 {
  background: #cffff3;
}

/*-- Shadow --*/
.box_shadow {
  box-shadow: $shadow;
}