/*============================================

                07 -- instagram
  
=============================================*/
.instagram {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .instagram-background {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .instagram-background-item {
    position: relative;
    transition: 0.2s ease-in-out;
  
    &:hover {
      opacity: 0.7;
    }
  
    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  
  .instagram-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 1.875em 3.125em;
    text-decoration: none;
    max-width: 100%;
    margin: 0 15px;
  
    &:hover h5 {
      color: $theme-color-1;
    }
  
    i {
      font-size: 2.25em;
      color: #888;
      margin-bottom: 0.55556em;
    }
  
    h5 {
      color: #111;
      font-size: 1.25em;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 0.75em;
      transition: 0.2s ease-in-out;
    }
  
    p {
      color: #888;
      font-size: 0.9375em;
      font-weight: normal;
      line-height: 1;
    }
  }
  
  .instagram-two .instagram-two-slider {
    width: 100%;
  
    .slider-item {
      display: block;
      position: relative;
  
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.3);
        opacity: 0;
        transition: 0.2s ease-in-out;
      }
  
      &:hover:after {
        opacity: 1;
      }
  
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }