/*============================================

                01 -- Variables
  
=============================================*/

/*-- Google Fonts --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$rubik: 'Rubik',sans-serif;
$montserrat: 'Montserrat',sans-serif;


// Color
$white: #ffffff;
$primary: #2f55d4;
$secondary: #5a6d90;
$success: #2eca8b;
$warning: #f17425;
$info: #17a2b8;
$danger: #e43f52;
$black: #161c2d;
$muted: #8492a6;
$light: #f8f9fc;
$dark:#333;

// Gray
$gray-100: #f6f6ff;
$gray-200: #d9d9e7;
$gray-300: #b8b8cc;
$gray-400: #9696ac;
$gray-500: #5b5b6e;
$gray-600: #383847;
$gray-700: #1F1F28;

// Theme Color
$theme-color-1:#2a72f8;

// shadow
$shadow: 0px 10px 80px 0px rgba(215, 215, 215, 0.4);


// Responsive Variables
$xx-layout: "only screen and (min-width: 1366px) and (max-width: 1600px)";
$xl-layout: "only screen and (min-width: 1200px) and (max-width: 1499px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs-layout: "only screen and (max-width: 767px)";
$sm-layout: "only screen and (min-width: 576px) and (max-width: 767px)";
$layout-575: "only screen and (max-width: 575px)";
$layout-479: "only screen and (max-width: 479px)";