/*============================================

                08 -- video
  
=============================================*/
.video-area {
  background-color: #fae8da;
  padding: 50px 0 0;

  .video-img img {
    width: 100%;
  }

  .video-content {
    margin-top: -63px;

    h2 {
      color: $gray-600;
      font-size: 50px;
      font-weight: bold;
      line-height: 55px;
      margin: 0;
      text-transform: uppercase;
      @media #{$sm-layout}{
        font-size: 42px;
        line-height: 48px;
      }
      @media #{$layout-575}{
        font-size: 32px;
        line-height: 36px;
      }
      @media #{$layout-479}{
        font-size: 32px;
        line-height: 36px;
      }
    }

    p {
      font-size: 16px;
      color: $gray-500;
      line-height: 26px;
      width: 80%;
      margin: 23px 0 31px;
      @media #{$layout-575}{
        font-size: 14px;
      }
      @media #{$layout-479}{
        font-size: 14px;
      }
    }

    .-video {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: $gray-600;
        letter-spacing: 0.2px;

        i {
          font-size: 36px;
          margin-right: 8px;
        }
      }
    }
  }
}