.makeStyles-slick_slider_voucher-3 {
  height: 162px !important;
}

.makeStyles-slick_slider_voucher-3 .slick-initialized {
  height: 162px !important;
}

.makeStyles-slick_slider_voucher-3 .slick-initialized .slick-list {
  height: 165px !important;
  margin: 0px !important;
}
.makeStyles-slick_slider_voucher-3 .slick-initialized .slick-list .slick-track {
  height: 165px !important;
  margin: 0px !important;
}
