.slick-thumb {
  display: flex !important;
}
.slick-slide {
  height: 600px !important;
}
.slick-slider .slick-arrow {
  /* bottom: 0 !important;
  display: none !important; */
}
.slick-dots li {
  width: 100px;
}
