.title_bestsale ::before {
  content: '';
  background: #d70018;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.sliderbestsaler .slick-list {
  height: 245 !important;
}
.sliderbestsaler .slick-slide {
  height: 245 !important;
}
.slidevoucher .slick-prev :hover {
  background-color: black;
}
.customSlickNext {
  font-size: 24;
}
.arrow-next-slide {
  margin-top: 30px;
}
.sliderbestsaler {
  position: relative;
}
.arrow-bestsaler {
  display: flex;
  justify-content: space-between;
}
.arrow-bestsaler-hover {
  /* display: none !important; */
  position: absolute;
  top: 90;
  z-index: 999;
  width: 100%;
}

.prevArrowBestSaler {
  display: none !important;
  margin-left: 20px;
}
.nextArrowBestSaler {
  display: none !important;
  margin-right: 20px;
}
/* .sliderbestsaler:hover .arrow-slider-hover {
  display: block !important;
} */

.sliderbestsaler:hover .prevArrowBestSaler {
  display: flex !important;
  animation: animationprev 500ms;
}

.sliderbestsaler:hover .nextArrowBestSaler {
  display: flex !important;
  animation: animationnext 500ms;
}

@keyframes animationprev {
  0% {
    margin-left: 0px;
    opacity: 0;
  }
  100% {
    margin-left: 20px;
    opacity: 1;
  }
}

@keyframes animationnext {
  0% {
    margin-right: 0px;
    opacity: 0;
  }
  100% {
    margin-right: 20x;
    opacity: 1;
  }
}

.ul_dots_bestsaler li {
  width: fit-content;
}

.ul_dots_bestsaler .slick-active div {
  background-color: black !important;
}
