.makeStyles-slider_body_banner-26 > .slick-list {
  height: 150px !important;
}
.slidervoucher .slick-list {
  height: 150px !important;
}
.slidevoucher .slick-slide {
  height: 150px !important;
}
.slidevoucher .slick-prev :hover {
  background-color: black;
}
.customSlickNext {
  font-size: 24;
}
.arrow-next-slide {
  margin-top: 30px;
}
.slidervoucher {
  position: relative;
}
.arrow-slider {
  display: flex;
  justify-content: space-between;
}
.arrow-slider-hover {
  /* display: none !important; */
  position: absolute;
  top: 45;
  z-index: 999;
  width: 100%;
}

.prevArrowSlide {
  display: none !important;
  margin-left: 20px;
}
.nextArrowSlide {
  display: none !important;
  margin-right: 20px;
}
/* .slidervoucher:hover .arrow-slider-hover {
  display: block !important;
} */

.slidervoucher:hover .prevArrowSlide {
  display: flex !important;
  animation: animationprev 500ms;
}

.slidervoucher:hover .nextArrowSlide {
  display: flex !important;
  animation: animationnext 500ms;
}

@keyframes animationprev {
  0% {
    margin-left: 0px;
    opacity: 0;
  }
  100% {
    margin-left: 20px;
    opacity: 1;
  }
}

@keyframes animationnext {
  0% {
    margin-right: 0px;
    opacity: 0;
  }
  100% {
    margin-right: 20x;
    opacity: 1;
  }
}
